//Brand Colors
$primary: #91A7FF;
$secondary: #98FF98;

// Black & White Colors
$title: #FBFCFF;
$text: #9E9EA7;
$sub-text: #74747D;
$background: #121214;
$card: #1A1A1E;

// Auxiliary Colors
$red: #f03d3d;
$green: #0bb07b;
$yellow: #ffce52;